{
  "semi": true,
  "singleQuote": true,
  "printWidth": 80,
  "arrowParens": "always",
  "trailingComma": "none",
  "bracketSameLine": false,
  "tabWidth": 2,
  "useTabs": false,
  "vueIndentScriptAndStyle": true
}